:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --font: "Red Hat Display", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  background-color: var(--pale-blue);
  font-family: var(--font);
  height: 100vh;
  display: grid;
  place-items: center;
  margin-bottom: 3rem;
}

.container {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

p {
  font-size: 16px;
}

.card {
  position: relative;
  background-color: var(--very-pale-blue);
  border-radius: 15px;
  text-align: start;
  max-width: 20em;
  cursor: default;
  z-index: 100;
  overflow: hidden;
  box-shadow: hsl(224, 23%, 55%, 0.2) 0px 10px 26px;
}

.card > section {
  padding: 2em;
  text-align: center;
}

.card button {
  display: block;
  background: none;
  border: 0;
  cursor: pointer;
  width: 100%;
  padding: 1em 0;
  font-size: 12px;
  margin: 1em 0;
  font-weight: 900;
  color: var(--desaturated-blue);
}

.card button:hover {
  color: var(--dark-blue);
}

.card button.btn-main {
  background-color: var(--bright-blue);
  border-radius: 10px;
  color: var(--very-pale-blue);
  box-shadow: hsl(245, 75%, 52%, 0.2) 0px 10px 22px;
}

.card button.btn-main:hover {
  background-color: hsl(245, 75%, 65%);
}

figure {
  margin: 0;
}

figure > img {
  max-width: 100%;
  display: block;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  background-color: var(--pale-blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
  /* color: var(--soft-blue); */
}

.attribution a {
  /* color: hsl(215, 51%, 80%); */
}
